/*navigation bar*/

nav {
    border-bottom: solid grey 5px;
}

.navbar {
    max-height: 13em;
}

.navbar-brand {
    border: double white 2px;
    color:whitesmoke !important;
    font-size: 30px;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
    word-spacing: 15%;
}

/*content*/
.container {
    max-width: 65em;
}

.section-about {
    margin-left: 12%;
}

/*contact*/
.mb-4 {
    margin: 10%;
}


/*portfolio*/
.list-unstyled {
    margin: 12%;
}
#p1, #p2 {
    height:160px;
    margin-left: -30%;
    width: 240px;
}

/*media queries*/
@media screen and (max width (768px) {
    body {
        background-color: bisque;
        height: auto;
        width: auto;
    }
    .mr-3 {
        height: auto;
        width: auto;
    }
    #p1, #p2 {
        display: flex;
        height: auto;
        width: auto;
    }
}